body
{
	background-image: url(image/pic.jpg);
	height: 100vh;
	background-size:auto;
	backgroind-position:center;
}
.login-page{
	width: 360px;
	padding: 3% 0 0;
	margin: auto;
}
.form
{
	position: relative;
	z-index: 1;
	background: rgba(7, 40, 195, 0.8);
	max-width:360px;
	margin: 0 auto 100px;
	padding: 30px;
	text-align:center;
}
.form input
{
	font-family: "Roboto",sans-serif;
	outline: 1;
	background: #f2f2f2;
	width:100%;
	border:0;
	margin:0 0 5px;
	padding: 10px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button
{
	font-family:"Roboto", sans-serif;
	text-transform:uppercase;
	ouline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #ffffff;
	font-size:14px;
	cursor: pointer;
} 
.from button:hover,.from button:active{
	background: #43A047;
}
.form .message{
	margin: 15px,0,0;
	color: aliceblue;
	font-size: 15px;	
}
.form .message a
{
	color: #4CAF50;
	text-decoration: none;
}
.form .login-form
{
	display:none;
}
.form .change-pass
{
	display:none;	
}

